################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyReopTestApp/.vs/MyReopTestApp
/MyReopTestApp/MyReopTestApp/bin/Debug/net5.0
/MyReopTestApp/MyReopTestApp/obj
